@import '~common/stylus/variable'
@import '~common/stylus/mixin'

$color-text-gray = #6c6c6c
.footer
  color #ddd
  font-size 14px
  background #34363b
  .partner
    display flex
    align-items center
    padding 15px 0
    img
      margin-right 20px
  .bottom
    border-top 1px solid #4e4e4e
    border-bottom 1px solid #4e4e4e
    padding 30px 0
    .bottom-wrapper
      display flex
      justify-content space-between
      line-height 27px
      .block
        display flex
        margin-bottom 10px
        &>span
          flex 0 0 100px
          width 100px
          line-height 40px
        p
          float left
          margin-right 10px
          a
            display block
            color $color-text-gray
            width 138px
            line-height 40px
            background #2f3234
            padding-left 12px
            i
              margin-right 3px
      .contact
        &>div
          display flex
        div
          color $color-text-gray
          .qq
            display flex

  .copyright
    display flex
    justify-content space-between
    line-height 56px
    color $color-text-gray
    img
      width 75px
    .link
      color $color-text-gray
      a
        color $color-text-gray
      span
        margin 0 10px
