@import '~common/stylus/variable'
@import '~common/stylus/mixin'
.login-wrapper
  mobile-wrapper()
  m-wrapper()
  .content
    padding-top 30px
  .logo
    width 70%
    margin-bottom 20px
  .tip
    text-align right
    margin 10px 0 20px
    a
      color $color-link
    span
      margin 0 10px
