@import '~common/stylus/variable'
@import '~common/stylus/mixin'

  .tab-warp
    margin-bottom: 80px

  .table
    background-color: #0a2337
    margin: 0 0 35px 0
    border: none
    width 100%

  .table tr, th, td
    color: #fff
    font-size: 14px
    text-align: center

  .table tr th
    color: #fff
    background: #494949

  .table tbody tr
    background-color: #343434

  .c-yel
    color: #de0101 !important

  .table th, .table td
    line-height: 57px
    border-bottom: 1px solid #494949
    padding: 0px
    font-size: 26px
    font-weight: normal

  #headertop
    background-color: #05051a

  a.goHome
    border: 2px solid #fff
    background-color: #05051a
    line-height: 48px

  .table td
    font-size: 20px

  .footer
    color: #fff
    background-color: #05051a
    font-size: 14px

  .modal-dialog iframe
    height: 260px

  .bg-wap
    background: #1d0906 url(./img/12-bg.jpg) no-repeat center top
    height: 2900px
    overflow: hidden
    text-align: center
    position: relative

  .content, .rule
    width: 1175px
    margin: 0 auto

  .rule p
    text-align: left

  .rule img
    margin: 50px 0 10px 0

  .info
    position: absolute
    top: 490px
    margin-left -150px
    left: 50%
    color: #5a472e
    font-size: 30px

  .info #feb-sign
    margin: 0 auto
    width: 330px
    cursor: pointer

  .info h2
    margin-top: 40px
    font-weight: bold

  .info h3
    font-weight: bold

  .sign-bar
    position: relative
    background-size: contain
    padding: 0 65px 111px 80px
    text-align: left
    margin-top 550px

  .sign-bar .date
    display: inline-block
    width: 80px
    height: 80px
    border-radius: 50%
    background-size: cover
    -webkit-filter: grayscale(1)
    text-align: center
    line-height: 80px
    margin: 110px 22px 90px
    font-weight: bold

  .sign-bar .date.active
    -webkit-filter: grayscale(0)
    background-size: cover
    border-radius: 0

  .table-bar p
    color: #fff
    font-size 16px
    font-weight: bold
    margin-bottom: 40px


  .table-bar img
    width: 1175px

  .rule-bar
    padding: 40px 0 140px
    font-size: 22px
    color: #fff
    line-height: 2.5

  .rule h3
    font-size: 30px
    text-align: center
    font-weight: bold

  .sign-bar .date.data-10, .sign-bar .date.data-11, .sign-bar .date.data-12, .sign-bar .date.data-13, .sign-bar .date.data-14,
  .sign-bar .date.data-15, .sign-bar .date.data-16, .sign-bar .date.data-17
    float: right
    margin-right: 28px

  .sign-bar .date.data-10
    margin-right: 18px

  .sign-bar .date.data-9, .sign-bar .date.data-18
    position: absolute

  .sign-bar .date.data-9
    right: 64px
    top: 130px

  .sign-bar .date.data-18
    left: 79px
    top: 418px

  .ct p
    font-size: 22px
    line-height: 4
    color: #fff

  .bot.c-yel
    margin: 50px 0

@media screen and (max-width: 767px)
  .banner
    background: url(./img/aug-sign-m.jpg) no-repeat top center;
    background-size: cover;
    height 200px;
  .bg-wap
    overflow: hidden;
    padding-bottom: 20px;
    height auto
  .content
    width 100%
    background #1d0906
  .sign-bar
    margin 0
    padding 0 10px
    clearfix()
    .date
      float left
      margin 10px 5px
      width 40px
      height 40px
      img
        width 100%
  .info
    position static
    margin 0
    padding-top 20px
    #feb-sign
      width 100%
      img
        width 50%
  .ct
    margin-top 30px
    img
      width 100%
    p
      font-size 16px
      line-height 28px
      margin 15px 10px
  .table
    margin-bottom 0
  .table tr th,.table tr td
    font-size 14px
  .rule-bar
    padding 0 10px
    font-size 16px
    .rule
      width 100%
      line-height 28px
      img
        width 100%
        margin 20px 0