@import '~common/stylus/variable'
@import '~common/stylus/mixin'
.news-page-wrapper
  .item
    line-height 28px
    .tit
      font-size 18px
      color: #fff
      span
        display inline-block
        line-height 50px
        padding 0 20px
      .title
        background $color-primary
      .time
        background $color-intersperse
    .wr
      margin-bottom: 20px
      padding: 20px
      box-shadow: 1px 6px 6px rgba(0,0,0,.3)
      border: 1px solid #ddd