@import '~common/stylus/variable'
@import '~common/stylus/mixin'
html{
  font-size: 45px!important;
}
body .common-header{
  position: fixed;
  display: block;
  height: 45px
  line-height: 45px;
  top: 0px;
  width: 7.5rem;
  color: #fff;
  background: none;
}
#safe .icon-icon-arrow-left{
  color: #FFFFFF;
  width: 45px
  display: inline-block;
  height: 45px
  margin-left: 0.45px
  position: absolute;
  left: 3px;
  z-index: 9;
}
body .common-header .header-title{
  width: 4.5rem;
  margin-left: 1.5rem;
}
body .common-header .header-title{
  position: absolute;
  z-index: 9;
  width: 4.5rem;
  text-align: center;
  left: 0px;
  color: #FFFFFF;
}
.common-header{
  position: relative;
  background: #545972;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
body #comm-other-button{

}


#comm-other-button{
  width: 0.55rem;
  height: 0.55rem;
  margin-top: 0.2rem;
  margin-right: 0.3rem;
}
body > .common-header .right-button{
  float: right;
  padding-right: .5em;
  font-size: 130%;
}
body > .common-header .left-button{

}
.top_box{
  padding-top: 60px;
  height: 130px;
  width: 100%;
  float: left;
  overflow: hidden;
}
.top_box ul li{
  float: left;
  width: 33%;
  height: auto;
  background: #FFFFFF;
  text-align: center;
  padding-top: 0.4rem;
  position: relative;
}
.top_box ul li i{
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 0.7rem;
}
.top_box ul li .show_weixin{
  width: 100%;
  height: 2rem;
  background: #FFFFFF;
  position: absolute;
  bottom: -2.3rem;
  border: 1px solid #dadada;
  display: none;
}
.show{
  display: block !important;
}
.top_box ul li .show_weixin span{
  width: 0.3rem;
  height: 0.3rem;
  border: 1px solid #dadada;
  position: absolute;
  left: 50%;
  transform: rotate(180deg);
  top: -30px;
  margin-left: -0.3rem;
  border-style: solid dashed dashed;
  border-color: #fff transparent transparent;
  font-size: 0;
  line-height: 0;
  border-width: 15px;
}
.top_box ul li .show_weixin img{
  max-width: 100%;
  max-height: 90%;
  margin-top: 0.45px
}
.top_box ul li span{
  display: inline-block;
  text-align: center;
  color: #333333;
  width: 100%;
  line-height: 45px;
}
.section1{

  width: 100%;
  color: #333333;
  float: left;

}
.section1 i{
  display: inline-block;
  float: left;
  margin-left: 0.5rem;
}
.section1_title{
  float: left;
  width: 100%;
  background: #fff;
  line-height: 45px;
  height: 45px
  border-bottom: 1px solid #dadada;
}
.Space{
  height: 10px;
  width: 100%;
  background: #EEEEEE;
  float: left;
}
.section1_title span{
  font-size: 16px;
  text-indent: 20px;
  display: inherit;
}
.section1_list{
  padding-top: 1.2rem;
}
.section1_list ul li{
  background: #FFFFFF;
  height: 45px
  line-height: 45px;
  padding: 0px 0.4rem;
}
.section1_list ul li a{
  width: 50%;
  float: left;
  font-size: 15px;
  color: #333;
}
.section1_list ul li a i{
  display: inline-block;
  float: left;
  margin-right: 10px;
}
#safe .icon_zhuce{
  background: url(./img/i-1.png) no-repeat;
  width: 0.5rem;
  height: 0.5rem;
  background-size: contain;
  margin-top: 0.25rem;
}

#safe .icon_cunkuang{
  background: url(./img/i-2.png) no-repeat;
  width: 0.5rem;
  height: 0.5rem;
  background-size: contain;
  margin-top: 0.25rem;
}

#safe .icon_xima{
  background: url(./img/i-3.png) no-repeat;
  width: 0.5rem;
  height: 0.5rem;
  background-size: contain;
  margin-top: 0.25rem;
}

#safe .icon_jiebang{
  background: url(./img/i-4.png) no-repeat;
  width: 0.5rem;
  height: 0.5rem;
  background-size: contain;
  margin-top: 0.25rem;
}

#safe .icon_zhaohui{
  background: url(./img/i-4.png) no-repeat;
  width: 0.5rem;
  height: 0.5rem;
  background-size: contain;
  margin-top: 0.25rem;
}
.tow_mull3{display: none;}
#comm-other-button{display: none;}
#safe .icon_luntang{
  background: url(./img/i-7.png) no-repeat;
  width: 0.5rem;
  height: 0.5rem;
  background-size: contain;
  margin-top: 0.25rem;
}

#safe .icon_tikuang2{
  background: url(./img/i-5.png) no-repeat;
  width: 0.5rem;
  height: 0.5rem;
  background-size: contain;
  margin-top: 0.25rem;
}

#safe .icon_mianf{
  background: url(./img/i-7.png) no-repeat;
  width: 0.5rem;
  height: 0.5rem;
  background-size: contain;
  margin-top: 0.25rem;
}

#safe .icon_fans{
  background: url(./img/i-8.png) no-repeat;
  width: 0.5rem;
  height: 0.5rem;
  background-size: contain;
  margin-top: 0.25rem;
}

#safe .icon_zhaohuizh{
  background: url(./img/i-9.png) no-repeat;
  width: 0.5rem;
  height: 0.5rem;
  background-size: contain;
  margin-top: 0.25rem;
}

#safe .icon_zhaohuimm{
  background: url(./img/i-10.png) no-repeat;
  width: 0.5rem;
  height: 0.5rem;
  background-size: contain;
  margin-top: 0.25rem;
}

#safe .icon_jiesuozh{
  background: url(./img/i-11.png) no-repeat;
  width: 0.5rem;
  height: 0.5rem;
  background-size: contain;
  margin-top: 0.25rem;
}

#safe .icon_jiesuoyhk{
  background: url(./img/i-12.png) no-repeat;
  width: 0.5rem;
  height: 0.5rem;
  background-size: contain;
  margin-top: 0.25rem;
}

.section1 i img{width: 40px;}

.top_box ul li i img{width: 40px;}
.section1_box{
  height: 150px;
  background: #fff;
  float: left;
  width: 100%;
  padding: 20px;
}
.section1_box .section1_box_input{
  position: relative;
}
.section1_box .section1_box_input input{
  width: 70%;
  height: 40px;
  border: 1px solid #dadada;
  text-indent: 0.4rem;
  background: #eee;
  color: #333;
  float: left;
  margin-left: .45px
}
.section1_box .section1_box_input span{
  /* position: absolute; */
  top: 0px;
  right: 0.5rem;
  line-height: 40px;
  color: #333333;
  background: #fdbe58;
  color: #fff;
  padding: 0 0.35rem;
  /* margin-right: 0.2rem; */
  height: 40px;
  display: inline-block;
  /* border-radius: 20px; */
}
.section1_box .section1_box_input p{
  text-align: left;
  width: 100%;
  line-height: 40px;
  color: #666;
  overflow: hidden;
}
.section_foot{
  margin-bottom: 1.5rem;
  width: 100%;
  float: left;
  background: #fff;
}

.tab-pane li p{
  //font-size: 0.3rem;
}

.tab-pane li{
  position: relative;
  line-height: 45px;
  border-bottom: 1px solid #f0eded;
  cursor: pointer;
  width: 100%;
  background: #fff;
  text-indent: 0.5rem;
  color: #333;
}
.collapse{
  display: none;
}
.active{
  display: block;
}
.active .collapse{
  display: block;
}
.new_user{

}
.collapse p{
  padding: 0.2rem;
  background: #eeeeee;
}
.new_user ul{
  margin-bottom: 1.5rem;
  padding-top: 45px
}
.new_user_div{
  width: 100%;
  line-height: 45px;
  /* text-indent: 0.5rem; */
  color: #313131;
  background: rgb(238, 238, 238);
}
.common-footer{display: none;}
.user-table .td_center{
  text-align: center;
  width: 30%;
  padding: 10px;
}
#suggestion-type{
  /* margin-bottom: 15px; */
  /* border: none; */
  background: none;
  /* border: #dadada; */
  border-radius: 5px;
  height: 45px
  background: #fff;
  width: 100%;
  outline: none;
}

#suggestion-content{
  width: 100%;
  height: 3rem;
  border: 1px solid #dadada;
  //font-size: 0.25rem;
  outline: none;
  line-height: 0.5rem;
}
.user-table{
  width: 100%;
  background: #fff;
}
#btn-submit{
  background: #354461;
  color: #fff;
  border: none;
  width: 85%;
  height: 45px
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  /* padding: 0px 0.3rem; */
  margin-left: 0.6rem;
  border-radius: 5px;
  margin: 0.3rem 0.5rem;
}
input::-webkit-input-placeholder {
  /* placeholder颜色  */
  color: #EEEEEE;
}

.bj_hide{
  width: 100%;
  bottom: -20px;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 88;
  //font-size: 0.14rem;
  color: #fff;
  letter-spacing: 4px;
  background: rgba(0,0,0,.5);
  display: none;
}

.weixin,#p-s-img{
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 50%;
  margin-left: -2rem;
  top: 50%;
  margin-top: -2rem;
  z-index: 99;
}

.weixin img{
  max-width: 100%;
}

.emal{
  width: 5rem;
  height: 3.5rem;
  position: absolute;
  left: 50%;
  margin-left: -2.5rem;
  top: 50%;
  margin-top: -1.5rem;
  color: #333333;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  z-index: 99;
  display: none;
}
.emal .emal_title{
  width: 100%;
  height: 45px
  line-height: 45px;
  text-align: center;
  float: left;
  border-bottom: 1px solid #ddd;
}
.emal .emal_center{
  width: 100%;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  float: left;
  //font-size: 0.35rem;
}
.emal .emal_foot{
  width: 100%;
  height: 45px
  line-height: 45px;
  text-align: center;
  float: left;
}
.emal .emal_foot span{
  width: 50%;
  float: left;
}
.emal .emal_foot span:nth-of-type(1){
  background: #D8D8D8;
}
.emal .emal_foot span:nth-of-type(2){
  background: #354461;
  color: #FFFFFF;
}
.jiantou{
  position: absolute;
  right: 0.6rem;
  top: 0.2rem;
  width: 0.5rem;
  height: 0.5rem;
}

.jiantou img{
  max-width: 100%;
}
.tow_mull ul li{
  border-bottom: 1px solid #ddd;
  line-height: 40px;
}
.tow_mull ul li span{
  //font-size: 0.3rem;
  color: #333;
  display: inline-block;
  float: left;
  width: 100%;
  font-weight: bold;
}

.tow_mull{
  display: none;
}

.tow_mull ul li p{
  //font-size: 0.3rem;
  padding: 0.3rem;
  line-height: 0.6rem;
  color: #666;
  overflow: hidden;
  Word-break: break-all;
}

.tow_mull3 ul li{
  border-bottom: 1px solid #ddd;
  line-height: 40px;
}
.tow_mull3 ul li span{
  //font-size: 0.3rem;
  color: #333;
  display: inline-block;
  float: left;
  width: 100%;
  font-weight: bold;
}

.tow_mull3{
  display: none;
}

img{
  max-width: 100%;
}

.tow_mull3 ul li p{
  //font-size: 0.3rem;
  padding: 0.3rem;
  line-height: 0.6rem;
  color: #666;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #EEEEEE;
}
.money_box{

}
.money_box .center-top{

}
.money_box  ul li{
  border-bottom: 1px solid #ddd;
  line-height: 40px;
  position: relative;
  line-height: 45px;
  border-bottom: 1px solid #f0eded;
  font-size: 3rem;
  cursor: pointer;
  width: 100%;
  background: #fff;
  text-indent: 0.5rem;
  color: #333;
}

.money_box  ul li span{
  font-size: 0.3rem;
  color: #333;
  display: inline-block;
  float: left;
  width: 100%;
  font-weight: bold;
}
.money_box  ul li p{
  font-size: 0.3rem;
  padding: 0.3rem;
  line-height: 0.6rem;
  color: #666;
}

.ul_mull{
  padding-top: 45px
}
.ul_mull ul li{
  float: left;
  height: 45px
  color: #333;
  line-height: 45px;
  padding: 0px 1.3rem;
  font-size: 0.28rem;
  font-weight: bold;
  background: #fff;
}
.ul_mull ul .action{
  border-bottom: 2px solid #354461;
  color: #354461;
}
.Complaint_form{
  background: #EEEEEE;
  width: 100%;
  float: left;
}
.Complaint_form ul li{
  height: 45px
  line-height: 45px;
  width: 100%;
  padding: 0px 0.2rem;
  color: #333;
}
.Complaint_form ul li input{
  height: 45px
  line-height: 45px;
  border: none;
  width: 100%;
  border-radius: 8px;
  text-indent: 0.45px
  outline: none;
}
.Complaint_form ul li select{

}

.Complaint_form ul li a{
  background: #354461;
  color: #FFFFFF;
  width: 100%;
  display: inline-block;
  height: 45px
  line-height: 45px;
  text-align: center;
  border-radius: 7px;
  font-size: 0.28rem;
}
.Complaint_form ul li textarea{

}

#feed-back ul li span{
  font-size: 0.28rem;
}

#feed-back ul li{
  color: #333;
  float: left;
  width: 100%;
}
#screenFixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  z-index: 9997;
}
#boxletter, #boxsuggestion {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  width: 85%;
  background: #fff;
  padding: 20px 30px;
  color: #c3b9b6;
  overflow: hidden;
}
#boxsuggestion {
  position: fixed;
  left: 50% !important;
  margin-top: -250px;
  margin-left: -42.5%;
}
#boxletter .closebg, #boxsuggestion .closebg {
  display: block;
  width: 54px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background: #781803;
}
#boxletter h3, #boxsuggestion h3 {
  font: 700 18px/51px "Microsoft Yahei";
  color: #0c152a;
}
#boxsuggestion .content {
  line-height: 23px;
  min-height: 400px;
  max-height: 550px;
  overflow: auto;
  color: #333;
}
#boxsuggestion a{
  color: #FFFFFF;
}
.email-pagination span{
  margin-left: 0.45rem;
  margin-top: 0rem;
  display: inline-block;
  line-height: 45px;
}
.email-pagination a{
  margin-left: 0.3rem;
}
body .red{
  color: #CD2525;
}
.alert, .alert_tk {
  width: 100%;
  background: rgba(0,0,0,0.7);
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  font-size: 0.14rem;
  color: #fff;
  letter-spacing: 4px;
  display: none;
}
.zzc {
  position: absolute;
  left: 50%;
  top: 50%;
}
.ready {
  margin-left: -38%;
  margin-top: -90%;
  position: relative;
}
.zzc p {
  font-size: 0.34rem;
  color: #9a9a9a;
  margin-top: 10%;
  margin-left: -24%;
  position: relative;
}
.common-header .header-title .logo{
  display: none;
}
  .shAlert
    position: fixed;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    div
      position: absolute;
      width: 80%;
      padding: 5%;
      left: 50%;
      margin-left: -40%;
      top: 20%;
      background: #fff;

