@import '~common/stylus/variable'
@import '~common/stylus/mixin'
$offset = 10px

.main-index-wrapper
  margin-top -30px !important
  position relative
  z-index 2
  clearfix()
  //奖池
  .jackpot-wrapper
    width: 1400px;
    height: 250px;
    margin-left: -10%;
    margin-top: -80px;
    display flex
    align-items center
    padding 0 20px
    background url(./img/jackpot.png) no-repeat center
    background-size contain
    img
      margin-right 100px
  //热门游戏
  .recommend-game
    .title
      margin-bottom 10px
      display flex
      justify-content space-between
      align-items center
    .more
      font-size 16px
      i
        margin-right 2px
        color $color-primary

//.advantage
//  margin 20px 0
//  height 415px
//  background url("./img/i-b-mask.jpg") no-repeat center
//  position relative
//  cursor: pointer
//  .arrow
//    position absolute
//    left 50%
//    top 250px
//    margin-left -44px
//    padding 20px
//    animation: downUp .9s ease infinite alternate

//banner内部
.banner-wrapper
  position relative
  .sidebar-wrapper
    position absolute
    z-index 100
    top 2%
    right 60px
    width: 246px
    height: 367px
    background: url(./img/sider-bg.png) no-repeat bottom center
    .duck
      position: relative
      display: block
      width: 266px
      height: 227px
      overflow: hidden
      background: url(./img/cat.png) no-repeat
      transition: none
      animation: da 1.3s step-end infinite
    .text-link
      text-align center
      line-height 60px
      p
        width 75%
        margin 0 auto
        border-bottom 1px solid
        &:last-child
          border 0
          span
            background $color-light
            b
              blink(#f71605, #e0f513)
              font-weight 600
        span
          background teal
          color $color-light
          font-size 12px
          border-radius 10px
          padding 2px 6px
          margin-right 10px
        a
          color $color-light
          font-size 16px

//弹框
.index-alert-mask
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  z-index 99999
  background rgba(0, 0, 0, .7)
  .index-alert-wrapper
    clearfix()
    position: relative
    background: url(./img/index-alert.png) no-repeat center
    width: 814px
    height: 692px
    background-size: contain
    top 0
    left 50%
    margin-left -407px
    .index-alert-content
      margin 0 auto
      margin-top 320px
      width 600px
      color #8d3a04
    //border 1px solid red
    .index-alert-msg-box
      font-size 18px
      line-height 2
      height: 220px;
      overflow-y: auto;
    .index-alert-tips
      display none
      color $color-light
      //border 1px solid red
      width 470px
      height 96px
      margin-top 43px
      overflow hidden
      line-height 24px
  .close-btn
    position absolute
    right 80px
    top 152px
    color #7d1e24
    font-size 40px
    cursor pointer


@keyframes da {
  0% {
    background-position: 7px 0
  }
  12.5% {
    background-position: 7px -247px
  }
  25% {
    background-position: 7px -494px
  }
  37.5% {
    background-position: 7px -741px
  }
  50% {
    background-position: 7px -988px
  }
  62.5% {
    background-position: 7px -1235px
  }
  75% {
    background-position: 7px -1482px
  }
  87.5% {
    background-position: 7px -1729px
  }
  100% {
    background-position: 7px 0
  }
}



