@import '~common/stylus/variable'
@import '~common/stylus/mixin'

.dtFundFlow
  background: #050a1d
  font-size: 22px
  color: #fff
  text-align: center

#modal-login .modal-dialog
  width: 25%

.tab-warp
  margin-bottom: 80px

.table
  margin: 20px 0 35px 0
  border: 1px solid #90796c

.t-item
  width: 48%
  padding: 10px
  float: left
  border: 6px solid #3a2aa8
  text-align: left
  background: #5943dc

.t-item:nth-child(1)
  margin-right: 4%

.t-item .c-y
  color: #ff517a

.t-item .math
  display: inline-block
  background: #ea3862
  padding: 3px 10px
  border-radius: 6px
  margin-top: 5px

.rule
  text-align: left
  padding: 0 100px

.table tr, th, td
  color: #b58e36
  font-size: 14px
  text-align: center

.table tr th
  color: #fadb8b
  background: #7b5c4a
  font-size: 22px

.table tbody tr:nth-child(odd)
  background: #8d3427
  color: #d7a38b

.table tbody tr:nth-child(even)
  background: #973f32
  color: #d7a38b

.c-yel
  color: #f03c3f !important

.table th, .table td
  text-align: center
  font-size: 20px
  padding: 5px
  background: #362b27
  color: #cebeb1

#headertop
  background-color: #1c1c1c

a.goHome
  background-color: #1c1c1c
  border: 1px solid #fff

.footer
  color: #fff
  background-color: #1c1c1c
  font-size: 14px
  margin-top: 0

.table th, .table td
  border: 1px solid #90796c

.modal-dialog iframe
  height: 260px

.bg-wap
  position: relative
  background: url(./img/j-bg.jpg) no-repeat top center
  padding: 550px 0 100px
  overflow: hidden
  text-align center

.gif
  position: absolute
  left: 234px
  top: -592px

.content
  position: relative
  width: 1200px
  margin: 70px auto 0

.topic
  margin: 30px 0 20px

.t-r
  position: relative

.t-r .s1
  position: absolute
  left: -128px
  top: 0

.t-r .s2
  position: absolute
  right: -158px
  top: -38px

.tpc-bar .item
  margin-bottom: 50px

.rule h2
  background: rgba(0, 0, 0, .4)
  font-size: 22px
  line-height: 2
  color: #c08b71
  padding-left: 20px
  margin: 60px 0 20px

p
  line-height: 2.2
  text-align: center

.rule p img
  display: inline-block
  margin: 0 5%

.rule .row
  position: relative
  padding-left: 50px

.rule .row p
  text-align: left
  color #fff
  font-size 21px

.rule .c-y
  color: #ffc872

.t-left
  display: inline-block
  width: 586px
  float: left
  text-align: left
  line-height: 2
  font-size: 20px

.t-right
  float: right
  display: inline-block
  width: 300px
  margin-bottom: 30px

.list-bar
  overflow: hidden
  height: 220px

.list-bar .item
  float: left
  width: 171px
  cursor: pointer

.list-bar .item p
  text-align: center
  font-size: 18px

.b-t
  color: #f8b551
  text-align: center

.mid
  margin: 80px 0 60px

.mid img
  cursor: pointer

.wap-img
  display: none

.pc-img
  margin: 30px 0

.obt-wrap
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  background: rgba(0, 0, 0, .5)
  .obt
    position: absolute
    padding: 100px 60px
    top: 10%
    left: 50%
    margin-left: -400px
    width: 800px
    height: 460px
    background: url(./img/alert.png) no-repeat center
    background-size: contain
    text-align center
    margin-top: 50px
    p
      text-align: center
      color: #ffffff
      margin-top: 50px

#tg-link
  background: #2f3443
  border: none
  padding: 0 5px
  color: #fff
  line-height: 52px
  height 52px
  font-size: 20px
  width: 350px

.copy
  margin: 30px 0 60px
  span
    display: inline-block
    height: 52px
    line-height: 52px
    font-size: 20px
    background: #f39700
    padding: 0 10px
    cursor: pointer
    margin-left: -6px

.mob
  display: none

.pc img
  margin: 90px 0 50px

.part-o
  width: 1000px
  margin: 0 auto
  overflow: hidden

.part-o > img
  float: left

.p-o-l
  float: left

.p-o-l img
  margin-right: 30px

.p-o-r
  background: #16193f
  width: 430px
  height: 342px
  overflow: hidden

.list-bar span
  display: inline-block
  width: 32%
  line-height: 3
  border-bottom: 1px solid #2d325d
  height: 54px

.rec .r-num
  overflow: hidden
  margin: 0 auto

.rec .r-num .item
  position: relative
  float: left
  width: 210px
  height: 350px
  margin: 10px 25px

.rec .r-num .item .r-click
  position: absolute
  top: 254px
  left: 56px
  width: 100px
  height: 30px
  line-height: 30px
  background: #c1c7c2
  color: #2e3467
  border-radius: 30px
  cursor: pointer

.rec .r-num .item .r-click.active
  background: #f8b651
  font-size: 16px

.r-line > span
  display: inline-block
  width: 20%
  margin-bottom: 20px
  text-align: left

.r-line .r-l-w
  width: 1000px
  height: 20px
  background: #2d3173
  border: 1px solid #f9cd8e
  border-radius: 20px

.dep
  overflow: hidden
  width: 1100px
  margin: 10px auto

.dep > div
  position: relative
  float: left
  display: inline-block
  width: 449px
  height: 488px
  background: #2c316b
  margin: 10px 45px
  padding: 24px

.dep > div h2
  font-size: 24px
  font-weight: bold
  margin-bottom: 16px

.dep > div p
  font-size: 16px

.dep > div .nums
  color: #fdf000

.dep > div .de
  position: absolute
  bottom: 16px
  left: 50%
  transform: translateX(-50%)
  font-size: 18px

.dep > div .d-c
  position: absolute
  width: 158px
  line-height: 50px
  border-radius: 50px
  background: #a8a8a8
  bottom: 80px
  left: 50%
  transform: translateX(-50%)
  color: #242d63
  cursor: pointer

.dep > div .d-c.active
  background: #f8b651

p.arr
  line-height: 6

p.arr > span
  cursor: pointer

.gifts-title
  background: #353a80
  line-height: 50px

.close
  background: transparent
  position: absolute
  right: 4px
  top: 4px

#gifts-content
  width: 780px

#gift-iframe
  height: 400px

li
  list-style-type: none

.dt-content
  background: url(./img/dt-c.png) no-repeat center
  width: 1200px
  height: 930px
  background-size: contain
  padding-top: 60px

.p-item
  margin: 60px 0

.dt-ls
  width: 500px
  height: 350px
  background: url("./img/dt-r.png") no-repeat
  overflow: hidden

.dt-lg
  background: rgba(0, 0, 0, .5)
  width: 80%
  margin: 120px auto 50px
  line-height: 50px
  color #fff
  font-size 22px

#dt-btn
  cursor: pointer

.cls
  position: absolute
  width: 100px
  height: 100px
  right: 0
  top: 0
  cursor: pointer

@media screen and (max-width: 767px)
  body
    background: #0c0534
    color: #fff
    font-size: 35px
    text-align: center

  .bg-wap
    background: url(./img/j-bg-m.jpg) no-repeat top center #0b031a
    padding-top: 150px
    overflow: hidden
    padding-bottom: 60px
    background-size: contain

  .gif
    display none

  .content, .pc img, .p-item, .part-o
    width 100%

  .part-o > img
    float inherit
    width 100%
    margin-bottom 30px

  .game-list
    overflow-x: auto;

  .game-l-c
    width 1000px
    a
      float left
      margin-right 10px
      img
        width 120px

  .dt-content
    background transparent
    width 100%
    height auto
    padding-top 10px

  .dt-ls
    width: 100%;
    height: 320px;
    background-size: contain;

  .pc img
    margin: 20px 0;

  .rule
    padding 10px
    .row
      padding-left 0
      p
        font-size 16px

  #tg-link
    height 32px
    line-height 32px
    width 230px

  .copy
    margin 0
    span
      height 32px
      line-height 32px
      color #fff

  .obt-wrap .obt
    width 320px
    padding 0
    margin-left -160px
    height 300px
    p
      margin-top: 110px;

.flow
  background rgba(0, 0, 0, .5)
  width 80%
  margin 0 auto 30px