@import '~common/stylus/variable'
@import '~common/stylus/mixin'

.header
  display flex
  align-items center
  background $color-nav-background
  color $color-light
  width 100%
  padding 20px 30px
  .avator
    padding-right 15px
    margin-right 15px
    img
      width 80px
  .user-info
    position relative
    margin-right 58px
    .column-wrapper
      clearfix()
      width 530px
    .column
      float left
      line-height 30px
      margin-right 30px
      i
        margin-right 5px
    .query-account
      position absolute
      bottom -2px
      right -97px
      width 268px
      select
        width 140px
        margin-right 8px
  .btn-group
    padding-left 60px
    a
      margin-right 10px
      &:last-child
        margin-right 0
    i
      margin-right 5px


  .refresh
    cursor pointer
    margin-left 8px


