@import '~common/stylus/variable'
@import '~common/stylus/mixin'

.bg-wap
  position: relative
  background: url(./img/bg1.jpg) no-repeat top center, url(./img/bg2.jpg) no-repeat top center
  padding: 200px 0 32px
  overflow: hidden
  text-align center
  .top-bar
    width 550px
    margin 0 auto
    overflow hidden
    .lf,.rt
      float left
    .item
      width 275px
      height 142px
      margin: 20px 0 70px
      padding-top: 24px;
      text-align center
      background url("./img/item-1.png") no-repeat center
      img
        margin-top: 108px
        cursor pointer
    .lf
      .item:nth-child(1)
        background url("./img/item-1.png") no-repeat center
      .item:nth-child(2)
        background url("./img/item-2.png") no-repeat center
    .rt
      .item:nth-child(1)
        background url("./img/item-3.png") no-repeat center
      .item:nth-child(2)
        background url("./img/item-4.png") no-repeat center
    h3
      font-size: 22px
      line-height: 2
      color: #fff
    p
      font-size 15px
      color #fff
  .rule
    width 980px
    margin 60px auto 0
    color #fff
    img
      margin-bottom 20px
    p
      text-align left
      font-size: 19px;
      line-height: 2;

@media screen and (max-width: 767px)
  body
    background: #0c0534
    color: #fff
    font-size: 35px
    text-align: center
    .bg-wap.main
      background: url(./img/bgm.jpg) no-repeat top center #894923
      padding-top: 220px
      overflow: hidden
      padding-bottom: 60px
      background-size: contain
      .top-bar
        width: 100%
        h3
          font-size 20px
        .item
          width 100%
        .lf,.rt
          float inherit
      .rule
        width: 90%
        margin 0 auto
        font-size: 20px
        img
          width: 100%
          margin: 20px 0
