@import '~common/stylus/variable'
.banner
  height 600px
  background url("./img/slot-bg.jpg") no-repeat center -90px
  position relative
.game-wrapper
  position relative
  min-height 200px
.jackpot-wrapper
  position absolute
  bottom 0
  left 0
  width 100%
  .wrapper
    display flex
    align-items center
    height 110px
    background rgba(0,0,0,.7)
    .item
      flex 1
      padding-left 50px
      .symbol
        color $color-intersperse
        margin-right 10px
        font-size 28px
        font-weight 600
      .title
        color $color-light
        padding-top 20px
        font-size 16px
        opacity .9
        padding-left 70px
.game-list-content
  position relative
  padding 20px
  background #fff
.search-wrapper
  display flex
  justify-content space-between
  margin-bottom 20px
  border-bottom 1px dashed $color-border-gray
  padding-bottom 15px
  .search-box
    display flex
    align-items center
    .label
      color $color-primary
.game-list-wrapper
  padding 20px 0