@import '~common/stylus/variable'
@import '~common/stylus/mixin'
.chess
  .tab-type
    background rgba(0,0,0,.5)
    margin-top -80px
    position relative
    z-index 999
  .tab-type-wrapper
    height 80px
    line-height 80px
    span
      float left
      width 230px
      text-align center
      cursor: pointer
      color $color-light
      font-size 18px
      img
        margin-right 5px
      &.active
        background $color-intersperse


  .game-list-wrapper
    margin 20px auto
    clearfix()
    .item
      float: left
      width 210px
      margin 10px
      padding 10px
      background $color-light
      transition all .3s ease-in
      &:hover
        box-shadow 3px 2px 5px #b0b0b0
        transform translate3d(0,-1px,0)
      img
        width 100%
      .bottom
        text-align center
        padding 20px 0
        p
          margin-bottom 15px
        button
          font-size 16px
