// 颜色定义规范
$color-light = #fff
$color-lighter = #ececec
$color-text = #666
$color-dark = #333
$color-primary = #404268
$color-intersperse = #ef8934
$color-danger = #f56c6c
$color-link = #3b75fb
$color-danger-btn = #f56c6c
$color-border-gray = #ddd
$color-nav-background = #4968a3
$color-gray-background = #f8f8f8

//手机端 颜色
$color-primary-mobile = #354461
$color-blue-mobile = #09affe
$color-dark-gray = #f3f3f3

